<div class="col-md-4">
		<h2>Burgers</h2>

			{{#each burgers}}
				{{#unless this.devoured}}
				<h4>Item #: {{this.id}}
				{{this.burger_name}}</h4>
				<form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
				<input type="hidden" name="devoured" value="true">
				<button class="btn-custom" type="submit">DEVOUR IT</button>
				</form>
				<br>
				<br>
				{{/unless}}
			{{/each}}

	</div>

<div class="col-md-4">
	<h2>Add a Burger</h2>
		<form class="create-update-form" action="burgers/create" method="POST">
			<div class="form-group">
    		<textarea class="form-control" rows="3" id="bun" name="burger_name"></textarea>
  		</div>
		<button class="btn-custom-2" type="submit">SUBMIT ORDER</button>
	</form>
</div>

<div class="col-md-4">
	<h2>Devoured Burgers</h2>
	<ul>
	{{#each burgers}}
		{{#if this.devoured}}
			<li>
				<p>Item #: {{this.id}}
				{{this.burger_name}}</p>
			</li>
		{{/if}}
	{{/each}}
	</ul>

</div>


